<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="strConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Git\CodeGroup\PM\PM.AplicacaoTests\TestData\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProjetoWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10881/ProjetoWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="ProjetoWSSoap" contract="ProjetoWSServiceReference.ProjetoWSSoap"
                name="ProjetoWSSoap" />
        </client>
    </system.serviceModel>
</configuration>